.padel-buttons{
    position: absolute;
    top: 200px;
    width: 100%;
    flex: content;
    flex-direction: vertical;
    background-color: rgb(78, 0, 78);
    text-decoration: none;
    overflow: hidden;
}
.padel-button{
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    margin: 20px;
}
.padel-button:hover{
    color: grey;
    background-color: rgb(58, 0, 58);
    border-radius: 10px;
}
